<div class="row">
  <div class="col-md-4 offset-4">
    <mat-toolbar color="primary">
      <h2><span>Login</span></h2>
    </mat-toolbar>
    <form #loginForm="ngForm" (ngSubmit)="loginUser()">
      <mat-card-content>
        <div style="margin: 5px; text-align: center">
          <mat-form-field appearance="fill" style="width: 100%">
            <mat-label>Username</mat-label>
            <input
              matInput
              required
              type="text"
              name="username"
              [(ngModel)]="username"
              id="username"
              placeholder="User name"
              class="form-control"
            />
            <mat-error
              *ngIf="
                loginForm.controls['username']?.invalid &&
                loginForm.controls['username']?.touched
              "
            >
              * Required
            </mat-error>
          </mat-form-field>
        </div>

        <div style="margin: 5px; text-align: center">
          <mat-form-field appearance="fill" style="width: 100%">
            <mat-label>Password</mat-label>
            <input
              matInput
              type="password"
              name="password"
              [(ngModel)]="password"
              id="password"
              placeholder="8 charcters minimum (alphabet + numbers)"
              minlength="8"
              required
            />
            <mat-error
              *ngIf="
                loginForm.controls['password']?.invalid &&
                loginForm.controls['password']?.touched
              "
            >
              * Required
            </mat-error>
          </mat-form-field>
        </div>

        <mat-divider></mat-divider>
        <button mat-button color="primary" type="submit">Login</button>
        <button mat-button type="button" (click)="register()">Sign Up</button>
      </mat-card-content>
    </form>
  </div>
</div>
