<h2 mat-dialog-title style="background: #3f51b5; color: white">
  {{ "add new quote" | titlecase }}
</h2>

<mat-dialog-content>
  <!-- Quote type -->
  <div class="col-md-6">
    <mat-form-field>
      <mat-label for="QuoteType">Quote Type</mat-label>
      <mat-select
        name="QuoteType"
        [(ngModel)]="QuoteType"
        id="QuoteType"
        required
      >
        <mat-option value="Auto">Auto</mat-option>
        <mat-option value="Boat">Boat</mat-option>
        <mat-option value="Home">Home</mat-option>
        <mat-option value="General">General</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!-- Task type -->
  <div class="col-md-6">
    <mat-form-field>
      <mat-label for="TaskType">Task Type</mat-label>
      <input
        matInput
        type="text"
        name="TaskType"
        [(ngModel)]="TaskType"
        id="TaskType"
        placeholder="Add Task Type"
        required
      />
    </mat-form-field>
  </div>

  <!-- Contact -->
  <div class="col-md-6">
    <mat-form-field>
      <mat-label for="Contact">Contact Name</mat-label>
      <input
        matInput
        type="text"
        name="Contact"
        [(ngModel)]="Contact"
        id="Contact"
        placeholder="Add Contact Name"
        required
      />
    </mat-form-field>
  </div>

  <!-- Task -->
  <div class="col-md-6">
    <mat-form-field>
      <mat-label for="Task">Quote</mat-label>
      <input
        matInput
        type="text"
        name="Task"
        [(ngModel)]="Task"
        id="Task"
        placeholder="Add Quote"
        required
      />
    </mat-form-field>
  </div>

  <!-- Due date -->
  <div class="col-md-6">
    <mat-form-field>
      <mat-label for="DueDate">Due Date</mat-label>
      <input
        matInput
        type="datetime-local"
        name="DueDate"
        [(ngModel)]="DueDate"
        id="DueDate"
        placeholder="Add Due Date"
        required
        [min]="viewDueDate"
      />
    </mat-form-field>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>
  <button class="mat-raised-button mat-primary" (click)="save()">Save</button>
</mat-dialog-actions>

<!--  -->

<!-- 


<form class="add-form" (ngSubmit)="onSubmit()">
  <div class="form-control">
    <label for="text">Quote Type</label>
    <input
      type="text"
      name="QuoteType"
      [(ngModel)]="QuoteType"
      id="QuoteType"
      placeholder="Add Quote Type"
      required
    />
  </div>

  <div class="form-control">
    <label for="TaskType">Task Type</label>
    <input
      type="text"
      name="TaskType"
      [(ngModel)]="TaskType"
      id="TaskType"
      placeholder="Add Task Type"
      required
    />
  </div>

  <div class="form-control">
    <label for="Contact">Contact Name</label>
    <input
      type="text"
      name="Contact"
      [(ngModel)]="Contact"
      id="Contact"
      placeholder="Add Contact Name"
      required
    />
  </div>

  <div class="form-control">
    <label for="Task">Quote</label>
    <input
      type="text"
      name="Task"
      [(ngModel)]="Task"
      id="Task"
      placeholder="Add Quote"
      required
    />
  </div>

  <div class="form-control">
    <label for="DueDate">Due Date</label>
    <input
      type="datetime-local"
      name="DueDate"
      [(ngModel)]="DueDate"
      id="DueDate"
      placeholder="Add Due Date"
      required
      [min] = "viewDueDate"
    />
  </div>

  <input type="submit" value="Save Task" class="btn btn-block" />
</form> -->
